## LaTeX files to ignore
##
*.aux
*.log
*.synctex.gz

## ignore figure directory from knitr()
##
figure/*

## Ignore R presentation files (other than source)
dimension-reduction-presentation.md
*.html
dimension-reduction-presentation-figure/
dimension-reduction-presentation_files/

## Ignore preliminary results report files
prelim_simulation*html
Preliminary.RData

## Miscellaneous files to ignore
##
temp.txt
*~
*.html

## R files to ignore
##
.Rapp.history
.Rproj.user
.Rhistory
.RData
*.RData
*.Rproj
